.follow{

    height: 80%;
    align-items: flex-end;
    font-size: 38px;
    color: #6e6e6e;
    text-transform: uppercase;
    text-align: center;
    position: relative;
     
    top: 300px;
}

.con{

    position: relative;
    top: 400px;
    bottom:400px;
}

.backimg{


    background-image:url('image/Capture.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
     height:500px;
     width:300px;
     
    
}

.divi{

    display: flex;
    justify-content: center;
}


li{


    font-size: large;
    font-weight:400;
    /* //text-align: center; */
    word-spacing: 6px;
    /* letter-spacing: 2px; */

    /* display:flex;
    align-items: center;
      */

}

 